@font-face {
    font-family: "ShareTechMono";
    src: url(../fonts/ShareTechMono-Regular.ttf) format("truetype");
}

/* Page background */
html {
    background-color: rgb(24, 26, 28)
}

/* Dimensions */
body {
    background-color: rgb(24, 26, 28);
    margin: 2.5em auto;
    width: 80%;
}

/* Top Navbar */
nav ul, footer ul {
    font-family: "ShareTechMono";
    font-size: 1.3em;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(61, 61, 61);
}
nav ul li, footer ul li {
    display: flex;
    align-items: center;
    margin-right: 1.25em;
}

/* Regular links */
a {
    text-decoration: none;
    color: rgb(150, 150, 150);
}
a:hover {
    scale: 1.1;
    color: rgb(180, 180, 180);
}

/* Main header */
h1 {
    font-size: 4em;
    font-family: "ShareTechMono";
    color: rgb(226, 226, 226);
}

/* Page headers */
h3 {
    font-size: 2em;
    font-family: "ShareTechMono";
    color: rgb(228, 228, 228);
}

/* Main Text */
p {
    font-size: 1.5em;
    line-height: 1.4em;
    font-family: "ShareTechMono";
    color: rgb(248, 142, 208);
}

/* Div */
div {
    display: inline-block;
}

/* Links page - Links box */
.Links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

links {
    font-size: 1.5em;
    font-weight: bold;
    font-family: "ShareTechMono";
    padding-bottom: .5em;
}
links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(24, 26, 28);
    background-color: rgb(248, 142, 208);
    border-radius: 500px;
    width: 16em;
    height: 2.5em;
}
links a:hover {
    scale: 1.05;
    color: rgb(24, 26, 28);
}

/* Footer */
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    font-family: "ShareTechMono";
}

/*  */
ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}
