:root {
    --text-color: rgb(232, 232, 234);
    --alt-text-color: rgb(191, 191, 199);
    --link-color: rgb(127, 196, 221);
    --link-hover-color: rgb(163, 65, 65);
    --bg-color: rgb(0, 0, 0);
    --moon-color: rgb(255, 255, 255);
    --moon-size: 64px;
}

/* 
* {
    border: 1px solid red !important;
} 
*/

html {
    font-family: DejaVuSansBook;
    background-color: black;
    text-decoration: none;
    color: var(--text-color);
    min-height: 100%;
    list-style: none;
    cursor: default;
    line-height: 28px;
}
h1 {
    font-family: DejaVuSansBook;
    text-decoration: inherit;
    color: inherit;
    font-size: 32px;
}
h2 {
    font-family: DejaVuSansBook;
    text-decoration: inherit;
    color: inherit;
    font-size: 24px;
}
h3 {
    font-family: DejaVuSansBook;
    text-decoration: inherit;
    color: inherit;
    font-size: 18px;
}
p {
    font-family: DejaVuSansBook;
    text-decoration: inherit;
    color: inherit;
    font-size: 16px;
}
a {
    font-family: DejaVuSansBook;
    text-decoration: inherit;
    color: inherit;
    font-size: 16px;
    cursor: pointer;
}
ul {
    list-style: inherit;
}
body {
    display: flex;
    flex-direction: column;
    position: relative;
    inset: 0;
    margin: 0px 75px 5px;
}
sup, sub {
    font-size: 9px;
    vertical-align: text-top;
    top: -0.4em;
    position: relative;
}
sub { 
    top: 0.4em; 
}
