@font-face {
    font-family: IBM_VGA_8x16;
    src: url(../resources/fonts/PxPlus_IBM_VGA_8x16.ttf);
}

html {
    position: relative;
    background-color: black;
    font-family: IBM_VGA_8x16;
    text-decoration: none;
    color: white;
    cursor: url(../resources/cursors/Normal-Select.cur), pointer;
    min-height: 100%;
}
a {
    text-decoration: inherit;
    color: inherit;
    cursor: url(../resources/cursors/Link-Select.cur), auto;
}
ul {
    list-style: none;
}
body {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 25px 75px 5px;
}

/* Main Logo */

.moonsymbol {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    --moon-size: 75px;
}
.moonleft {
    background-color: transparent;
    width: var(--moon-size);
    height: var(--moon-size);
    border-radius: 50%;
    box-shadow: 24px 0px #fff; 
}
.moon {
    background-color: #fff;
    width: var(--moon-size);
    height: var(--moon-size);
    border-radius: 50%;
}
.moonright {
    background-color: transparent;
    width: var(--moon-size);
    height: var(--moon-size);
    border-radius: 50%;
    box-shadow: -24px 0px #fff; 
}

/* Main Page */

.contents {
    margin: 0px 100px;
    padding: 5px 0px;
    font-size: large;
}
.contents h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 20px 0px;
}

.page .navbar #nav-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    font-size: 25px;
    list-style: none;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    margin: 10px 0;
    padding: 10px 0;
}

.navigators {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 80%;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 8em;
}

.footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    bottom: 0;
    width: 100%;
    height: auto;
    border-top: 1px solid white;
}
#buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
    margin-top: 20px;
}
#buttons img, a {
    width: 88px;
    height: 31px;
}

/* -----------------

My Corner Stylesheet 

----------------- */ 

.corner-links {
    margin: 28px 0px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 100%;
    gap: 72px;
}
.corner-links .left {
    padding: 0px 0px 0px 48px;
    min-width: 35%;
}
.corner-links .center {
    background-color: white;
    width: 1px;
}
.corner-links .right {
    padding: 0px 48px 0px 0px;
    min-width: 35%;
}
.corner-links .right * {
    padding: 0;
}
.corner-links .left * {
    padding: 0;
}
.right a, .left a {
    color: bisque;
}