@font-face {
    font-family: IBM_VGA_8x16;
    src: url(../resources/fonts/PxPlus_IBM_VGA_8x16.ttf);
}

html {
    position: relative;
    background-color: black;
    font-family: IBM_VGA_8x16;
    text-decoration: none;
    color: white;
    cursor: url(../resources/cursors/Normal-Select.cur), pointer;
    min-height: 100%;
}
a {
    text-decoration: inherit;
    color: inherit;
    cursor: url(../resources/cursors/Link-Select.cur), auto;
}

body {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 25px 75px 5px;
}
.contents {
    padding: 50px 0px;
    font-size: large;
}

.page .navbar #nav-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    font-size: 25px;
    list-style: none;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.navigators {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 80%;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 8em;
}

.footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    bottom: 0;
    width: 100%;
    height: auto;
    border-top: 1px solid white;
}
#buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
    margin-top: 35px;
}
#buttons img, a {
    width: 88px;
    height: 31px;
}
#footer-text {
    margin-bottom: 5px;
}