@import url(main.css);

.page-container {
    position: relative;
    min-height: 100%;
}

/* Main Logo */

.moonsymbol {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 12px;
}
.moonleft {
    background-color: transparent;
    width: var(--moon-size);
    height: var(--moon-size);
    border-radius: 50%;
    box-shadow: 20px 0px var(--moon-color); 
}
.moon {
    background-color: var(--moon-color);
    width: var(--moon-size);
    height: var(--moon-size);
    border-radius: 50%;
}
.moonright {
    background-color: transparent;
    width: var(--moon-size);
    height: var(--moon-size);
    border-radius: 50%;
    box-shadow: -20px 0px var(--moon-color);
}

/* Navbar */

.navbar {
    display: flex;
    flex-direction: column;
    top: 0;
    background-color: black;
    border-bottom: 1px solid white;
    padding: 0;
}
.nav-contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    align-items: center;    
    padding: 0px;
}
.nav-contents a {
    font-size: 22px;
}

/* Footer */

.footer {
    height: fit-content;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid white;
    padding: 12px 0 0 0;
    margin: 0;
}
.footer-text p {
    margin: 4px 0 8px 0;
    padding: 0;
    font-size: 12px;
}
.buttons img, a {
    width: 88px;
    height: 31px;
}

/* -----------------

My Corner Stylesheet 

----------------- */ 

.corner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 12px 0px;
    min-width: 100%;
    padding: 0;
}
.corner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    line-height: 20px;
    margin: 20px;
}
.corner-content .left, .corner-content .right  {
    min-width: 500px;
    max-width: 500px;
    width: 500px;
    height: auto;
}
.corner-content .center {
    background-color: white;
    width: 1px;
}
.corner-links-1, .corner-links-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: auto;
    gap: 72px;
}
.corner-content .right *, .corner-content .left * {
    padding: 0;
}
.corner-content .right a, .corner-content .left a {
    color: var(--link-color);
}
.corner-content .right a:hover, .corner-content .left a:hover {
    color: var(--link-hover-color);
}
.corner-content li {
    max-height: 20px;
}
.corner-content sup {
    font-size: 9px;
    vertical-align: text-top;
    top: -0.4em;
    position: relative;
}